<%include partials/header%>
<h2>Welcome to the homepage</h2>
<a href="http://localhost:8092/AddUser" >User Registration </a><br>
<a href="http://localhost:8092/Login">Login</a>


<% include partials/footer%>