<% include partials/header%>

<form method="POST" action="/login">
    <label>Username: </label>
    <input type="text" name="username" required="required">
    <br>
    <br>
    <label>Password: </label>
    <input type="password" name="password" required="required">
    <br>
    <br><br>
    <input type="submit" value="Login">

</form>



<% include partials/footer%>